<a href="https://colab.research.google.com/github/RichardJames1-c/Python-programes/blob/main/Multiplicatin_Table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("\n\n\t\t\t\t\t\t________Multiplication___Table__________\n\n\n\n")
Multiplication_number=int(input("Enter a number : "))
print("\n\n\n")
for number_2 in range(1,21):
    print("\t\t\t\t\t\t\t", Multiplication_number,'x',number_2,"=",Multiplication_number*number_2)

						________Multiplication___Table__________




Enter a number : 5




							 5 x 1 = 5
							 5 x 2 = 10
							 5 x 3 = 15
							 5 x 4 = 20
							 5 x 5 = 25
							 5 x 6 = 30
							 5 x 7 = 35
							 5 x 8 = 40
							 5 x 9 = 45
							 5 x 10 = 50
							 5 x 11 = 55
							 5 x 12 = 60
							 5 x 13 = 65
							 5 x 14 = 70
							 5 x 15 = 75
							 5 x 16 = 80
							 5 x 17 = 85
							 5 x 18 = 90
							 5 x 19 = 95
							 5 x 20 = 100